*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-image: url('/images/photo-1556817411-31ae72fa3ea0.avif');
    position: relative;
    height: 100vh;
    background-size: cover;
}

h1{
    font-size: 15vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-0%);
    background-color: white;
    background-clip: border-box;
    color: black;
    mix-blend-mode:screen;


}
footer .footer-content h3{
    font-size: small;
}